@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #E6E2AF, #A7A37E);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012121a8;
    width: 700px;
    padding: 15px;
    margin: auto;
}

h1{
    color: #013333;
    text-align: center;
    text-shadow: 1px 1px 2px #011b1ba2;
}

h2 {
    color: #046380;
}

p{
    text-align: justify;
    color: #575545;
}